.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.App-title {
  margin: 0px
}

.App-pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.App-pagination > button {
  background-color: #1a73e8;
  border: 1px;
  color: white;
  height: 40px;
  width: 100px;
  border-radius: 5px;
}

.App-pagination > button:active {
  background-color: #043474;
}

.App-input-container {
  align-self: flex-start;
  width: 40%;
  margin: 15px;
}

.input--size-big {
  height: 30px;
  width: 100%;
  padding: 3px;
  background: url(./assets/search.png) no-repeat scroll 1% 40%;
  background-size: 1rem;
  padding-left: 30px;;
}

.App-results {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 50%;
  margin-left: 5rem;
  margin-right: 5rem;
}

.App-pokemons-container {
    display: flex;
    justify-content: space-between;
    margin: 0px 15px 0px 5px;
  }

.App-pokemons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 50%;
  align-items: center;
}
